<button type="button" class="btn btn-outline-warning"><%= link_to "Upload laboratory work", new_lab_path%></button><br><br>

<% flash.each do |type, msg| %>
  <div class="alert alert-<%= type %>">
    <%= msg %>
  </div>
<% end %>

<table class="table">
  <thead>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
    <th scope="col">Grade</th>
  </thead>

  <tbody>
    <% @labs.each do |lab| %>
      <tr>
        <td><%= lab.title %></td>
        <td><%= lab.description %></td>
        <td><%= lab.grade %></td>
        <td><button type="button" class="btn btn-outline-primary"><%= link_to "Show", lab_path(lab) %></button></td>
        <td><button type="button" class="btn btn-outline-success"><%= link_to "Grade", mark_lab_path(lab) %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>
